@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My Key value: @ViewData["myKeyValue"]</p>
    <p>Title: @ViewData["positionTitle"]</p>
    <p>Name: @ViewData["positionName"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
